extends layout

block content
  #header
    h2(id="logo") MyWay
    img(id="user" src="images/icons/profile.png")
    form(id="search_bar" name="search_bar", method="get", action="/")
      input(type="text" name="location" required if location value=location else placeholder='Enter a location')
      input(type="image" name="submit" src="images/icons/search.png" alt="Search")

  if location
    form(id="search_filter", name="search_filter", method="get", action="/")
      label(class="filterBy") CATEGORIES
      fieldset
        legend Travel
        input(type="checkbox" name="travel" value="hotel" id="hotel")
        label(for="hotel") Hotel
      fieldset
        legend Activity
        input(type="checkbox" name="activity" value="eat" id="eat")
        label(for="eat") Eat
        br
        input(type="checkbox" name="activity" value="concert" id="concert")
        label(for="concert") Concert
        br
        input(type="checkbox" name="activity" value="shopping" id="shopping")
        label(for="shopping") Shopping
      label(class="filterBy") PRICE RANGE
        br
        input(type="checkbox" name="price" value="20less" id="20less")
        label(for="20less") $0 - $20
        br
        input(type="checkbox" name="price" value="40less" id="40less")
        label(for="40less") $20 - $40
        br
        input(type="checkbox" name="price" value="70less" id="70less")
        label(for="70less") $40 - $70
        br
        input(type="checkbox" name="price" value="120less" id="120less")
        label(for="120less") $70 - $120
        br
        input(type="checkbox" name="price" value="120more" id="120more")
        label(for="120more") $120+
        br
      label(class="filterBy") DATE
        br
        label Start date
        input(type="date" name="startdate")
        br
        label End date
        input(type="date" name="enddate")
        br
      input(type="hidden" name="location" value=location)
      input(type="submit" name="submit" value="Submit" id="submit_button")

    #search_results
      if resultJSON
        h1 Search Results
        - each deal in resultJSON.deals
          figure
            a(href= deal.dealUrl): img(src= deal.grid4ImageUrl)
            a(href= deal.dealUrl): figcaption= deal.title
            p(class="figure_info") Deal starts: #{deal.startAt}
            p(class="figure_info") Deal ends: #{deal.endAt}
      if message
        h1= message

